<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.CardMapper">

    <resultMap id="cardMapper" type="com.tencent.wxcloudrun.model.IdentityCard">
        <id property="id" column="id"/>
        <result property="unitId" column="unit_id" />
        <result property="userName" column="user_name" />
        <result property="userPhoto" column="user_photo" />
        <result property="startTime" column="start_time" javaType="java.util.Date" />
        <result property="endTime" column="end_time" javaType="java.util.Date"  />
    </resultMap>

    <select id="getUnitCardAlready" resultMap="cardMapper" parameterType="java.lang.String">
        SELECT `id`, `unit_id`, `user_name`, `user_photo`,`start_time`, `end_time`
        FROM tbl_unit_identity
        WHERE unit_id = #{unit_id} and oper_in != "D"
    </select>

    <update id="setUnitCard" parameterType="com.tencent.wxcloudrun.model.IdentityCard">
        INSERT INTO `tbl_unit_identity`(`unit_id`,`user_name`,`user_photo`,`start_time`,`end_time`,`oper_in`)
            VALUE(#{unit_id},#{user_name},#{user_photo},#{start_time},#{end_time},"I")
    </update>

    <update id="deleteOutTimeCard" parameterType="java.lang.String">
        UPDATE
            tbl_unit_identity
        set
            oper_in = "D"
        WHERE
            end_time <![CDATA[ < ]]>  #{time}

    </update>

    <update id="deleteUnitCardAlready" parameterType="java.lang.String">
        UPDATE
            tbl_unit_identity
        set
            oper_in = "D"
        where unit_id = #{unit_id}
    </update>

</mapper>
